body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #000;
}

nav a{
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    font-size: 18px;
    
}

main {
    display: flex;
}

main > .opensource-work {
    display: flexbox;
}

.projects {
    width: 33%;
    height:auto;
    text-align: center;
    border: 1px solid black;
}

a {
    text-decoration: none;
}

.work-experience {
    padding-left: 5px;
    width: 33%;
    height: auto;
    line-height: 35px;
    border: 1px solid black;
}

.opensource-work {
    padding-left: 5px;
    width: 33%;
    line-height: 30px;
    height: auto;
    border: 1px solid black;
}

.eduaction {
    padding-left: 5px;
    width: 33%;
    height: auto;
    border: 1px solid black;
}

.reviews {
    padding-left: 5px;
    width: 100%;
    height: auto;

}

div {
    display: flex;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.box1, .box2,.box3 {
    display: flexbox;
    width: 33%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
}